<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="bumper_ctr_sensor">
		<gazebo reference="gripper_link_left_1">
			<!-- contact sensor -->
			<sensor name="end_effector_sensor" type="contact">
				<selfCollide>true</selfCollide>
				<alwaysOn>true</alwaysOn>
				<update_rate>50</update_rate>
				<contact>
					<collision>gripper_link_left_1_collision</collision>
				</contact>
                
				<!-- gazebo plugin -->
				<plugin name="gazebo_ros_bumper_sensor" filename="libgazebo_ros_bumper.so">
					<ros>
						<namespace>contact_sensor</namespace>
						<remapping>bumper_states:=bumper_gripper_link_left</remapping>
					</ros>
					<frame_name>gripper_link_left_1</frame_name>
				</plugin>
			</sensor>
		</gazebo>
	</xacro:macro>
</robot>