<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="$(arg robot_name)camera_joint" type="fixed">
        <parent link="$(arg robot_name)base_link"/>
        <child link="$(arg robot_name)camera_link"/>
        <origin xyz="0.5 0 0.30" rpy="0 0 0"/>
    </joint>

    <link name="$(arg robot_name)camera_link">
        <visual>
            <geometry>
                <box size="0.010 0.03 0.03"/>
            </geometry>
            <material name="red"/>
        </visual>
    </link>

    <joint name="$(arg robot_name)camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
        <parent link="$(arg robot_name)camera_link" />
        <child link="$(arg robot_name)camera_link_optical" />
    </joint>

    <link name="$(arg robot_name)camera_link_optical"></link>

    <gazebo reference="$(arg robot_name)camera_link">
        <material>Gazebo/Red</material>
        <sensor name="camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>2</horizontal_fov>
                <vertical_fov>1</vertical_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>1000</width>
                    <height>500</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>1600</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <ros>
                    <qos>
                        <topic name="$(arg namespace)/camera/image_raw">
                            <publisher>
                                <reliability>reliable</reliability>
                            </publisher>
                        </topic>
                    </qos>
                </ros>
                
                <!-- Note: I don't know ho to explain it, but if swap comments,
                the system publishes /robot1/robot1/camera/image_raw: no idea why. -->
                <!-- frame_name>$(arg robot_name)camera_link_optical</frame_name>
                <camera_name>$(arg robot_name)camera</camera_name -->
                <frame_name>camera_link_optical</frame_name>
                <camera_name>camera</camera_name>

                <image_width>1000</image_width>
                <image_height>500</image_height>
            </plugin>
        </sensor>        
    </gazebo>
</robot>
