<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="multi_bot_nav_03">
    
    <xacro:arg name="robot_name" default=""/>
    <xacro:arg name="namespace" default=""/>
        
    <xacro:arg name="robot_material_name" default="Green"/>
    <xacro:arg name="robot_material_color_rgb" default="0 1 0 1"/>

    <xacro:include filename="$(find multi_bot_nav_03)/description/xacro/inertial_macros.xacro" />
    <xacro:include filename="$(find multi_bot_nav_03)/description/xacro/lidar.xacro" />
    <xacro:include filename="$(find multi_bot_nav_03)/description/xacro/camera.xacro" />
    <xacro:include filename="$(find multi_bot_nav_03)/description/xacro/imu_sensor.xacro" />
    <xacro:include filename="$(find multi_bot_nav_03)/description/xacro/gps.xacro" />
    
    <!-- xacro:include filename="$(find multi_bot_nav_03)/description/xacro/depth_camera.xacro" / -->

    <xacro:include filename="$(find multi_bot_nav_03)/description/xacro/gazebo_control.xacro" />
    <xacro:include filename="$(find multi_bot_nav_03)/description/xacro/robot_core.xacro" />
</robot>